body {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  width: 100%;
}

#header {
  width: 100%;
  background-color: #EEEEEE;
  padding: 5px;
  height: 30px;
  position: fixed;
}

#logo {
  float: left;
  font-size: 1.2em;
  font-weight: 300;
  padding: 3px 5px;
}

#buttonContainer {
  width: 250px;
  margin: 0 auto;
}

.toggleButton {
  float: left;
  border: 1px solid grey;
  border-right:none;
  padding: 4px;
  cursor: pointer;
}

#html {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

#output {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-right: 1px solid grey;
}

#bodyContainer {
  width: 100%
}

.active {
  background-color: #E8F2FF;
}

.highlightedButton {
  background-color: grey;
}

.panel {
  float: left;
}

.panelHeading {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 0.8em;
  display: block;
  padding: 5px;
}

.panelBody {
  padding-left: 5px
}

.hidden {
  display: none;
}

span {
  background-color: #E8F2FF;
  margin-right: 2px; 
}

textarea {
  border-top: none;
  border-left: none;
  border-bottom: none;
  resize: none;
  border-color: grey;
}

iframe {
  border: none;
}

textarea, iframe {
  height: 100%;
}
